{% extends 'base.html' %}

{% block content %}

{% if validlink %}
<div class="mx-auto col-md-5 col-sm-12">
  <form method="post" style="background-color: #f0ebbe; padding: 20px;">{% csrf_token %}
    <h1 class="text-center">Reset password</h1>
    <div class="form-group">
      {{ form.new_password1 }}
    </div>
    <div class="form-group">
      {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-primary" style="width: 100%;">Change password</button>
  </form>
</div>
{% else %}
<p>
  The password reset link was invalid, possibly because it has already been used.
  Please request a new password reset.
</p>
{% endif %}

{% endblock %}
